APP_DEBUG: true
APP_ENV: staging
APP_KEY:
APP_NAME:
APP_URL:
APP_PAGINATION_PAGE_SIZE: 50
APP_PAGINATION_MAX_PAGES: 5
CACHE_DRIVER: file
DB_CERT_PATH: /etc/ssl/certs
DB_CONNECTION: mysql
LOG_CHANNEL: stderr
MAIL_DRIVER: smtp
MAIL_PORT: 2525
MAIL_ENCRYPTION: tls
MAIL_HOST: null
MAIL_USERNAME: null
MAIL_PASSWORD: null
QUEUE_CONNECTION: sync
REDIS_SCHEME: tls
SESSION_DRIVER: database
